#calendar-container {
	max-width: 960px;
    margin: 50px auto;
    border: 1px solid #DDD;
}

.guideline-container {
	vertical-align: top;
	display: inline-block;
	width: 96px;
    background-color: #DDD;
}

.guideline-container .block{
	border-bottom: 1px solid #AAA;
}

.block {
	height: 50px;
	overflow-y: auto;
}

.header, .day-container .header{
	font-size: 14px;
	font-weight: bold;
    text-align: center;	
    border-bottom: 2px solid #999;
}

.block h1{
	height: 100%;
	width: 100%;
	line-height: 50px;
	font-size: 12px;
    margin: 0;
    text-align: center;	
}

.day-container {
	display: inline-block;
	width: 20%;
	border-left: 1px solid #BBB;
}

.day-container .block{
	border-bottom: 1px solid #BBB;
}

.week-container {
	vertical-align: top;
	width: 862px;
    display: inline-block;
    margin-bottom: -8px;	
}

.calendar-item {
	margin: 5px;
    text-align: center;
    background: #DDD;
    border-radius: 10px	
}