@import url('https://fonts.googleapis.com/css?family=Raleway');

.jumbotron {
	margin-bottom: 25px;
	padding: 1rem;
	background-color: #CCC !important;
}

.jumbotron-section {
	margin-bottom: 25px;
	padding: 1rem;
	background-color: #e9ecef;
}

.btn-primary {
	background-color: #ee212b !important;
	border-color: #ee212b !important;
}

.btn-secondary {
	background-color: #FFF !important;
	border-color: #ee212b !important;
	color: #ee212b !important;
}

.btn-secondary:hover {
	background-color: #ee212b !important;
	border-color: #ee212b !important;
	color: #FFF !important;
}

.section-title {
	font-family: 'Raleway';
	font-weight: 100;
}

.neutral-bold {
	font-weight: 600;
}

.primary-bold {
	color: #ee212b !important;
	font-weight: 600;
}

footer.container {
	margin-top: 100px;
}

i {
	margin-left: 5px;
}

button > i {
	margin-left: 0px;
}