{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <main role="main" id="calendar-container">
	</main>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
	<script type="text/javascript" src=""></script>
	<script src="{% static 'js/calendar.js' %}"></script>
{% endblock content %}

