{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3 section-title"><span class="neutral-bold">T</span>ech<span class="primary-bold">-K</span> University</h1>
          <p> Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est.</p>
          <p><a class="btn btn-primary btn-lg" href="http://www.techk.cl/" role="button">Ver Detalles &raquo;</a></p>
          <p><a class="btn btn-secondary btn-lg" href="/calendar/" role="button">VER CALENDARIO DE TEST&raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-2">
            <h3>Profesores</h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut. </p>
            <p><a class="btn btn-secondary" href="/teachers/" role="button">Ver detalles &raquo;</a></p>
          </div>
          <div class="col-md-3">
            <h3>Alumnos</h3>
            <p>Hiper es elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, mordor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed. </p>
            <p><a class="btn btn-secondary" href="/students/" role="button">Ver detalles &raquo;</a></p>
          </div>
          <div class="col-md-2">
            <h3>Cursos</h3>
            <p>Total sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper.</p>
            <p><a class="btn btn-secondary" href="/course/" role="button">Ver detalles &raquo;</a></p>
          </div>
          <div class="col-md-3">
            <h3>Pruebas</h3>
            <p>Costructe sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut ferment massa justo.</p>
            <p><a class="btn btn-secondary" href="/quiz/" role="button">Ver detalles &raquo;</a></p>
          </div>
          <div class="col-md-2">
            <h3>Notas</h3>
            <p>Hiper es elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, mordor mauris condimentum nibh, ut.</p>
            <p><a class="btn btn-secondary" href="/score/" role="button">Ver detalles &raquo;</a></p>
          </div>         
        </div>

        <hr>

      </div> <!-- /container -->

    </main>
{% endblock content %}