<template>
    <div>
      <div class="jumbotron-section">
        <div class="container">
          <h1 class="display-6">Cursos</h1>
          <p>Crud para cursos de la prestigiosa Tech-K University.</p>
          <button v-if="action == 'list'" v-on:click="toggleAction('create')" class="btn btn-primary btn-sm d-inline-block"role="button">Crear Curso <i class="fa fa-plus"></i></button>
          <a class="btn btn-secondary btn-sm d-inline-block" href="/" role="button">Volver Home &raquo;</a>
        </div>
      </div>

      <div class="container">
        <div v-if="action == 'create' || action == 'edit'">
          <form v-on:submit.prevent="saveCourse()">
            <div class="form-group">
              <label for="course-name">Nombre</label>
              <input type="text" class="form-control" id="course-name" placeholder="Nombre del Curso" v-model="course.name" maxlength="200" required>

              <label for="course-code">Codigo</label>
              <input type="text" class="form-control" id="course-code" placeholder="Codigo del Curso" v-model="course.code" maxlength="10" required>

              <label for="course-teacher">Profesor</label>
              <select class="form-control" id="course-teacher" v-model="course.teacher">
                <option value="0">Seleccione</option>
                <option v-for="teacher, i in teachers" :value="teacher.pk">{{ teacher.fields.name }} {{ teacher.fields.last_name_1 }}</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Guardar <i class="fa fa-save"></i></button>
            <button v-on:click="toggleAction('list')" type="button" class="btn btn-secondary">Cancelar <i class="fa fa-ban"></i></button>
          </form>
        </div>
        <div id="courses-list" v-if="action == 'list'">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nombre</th>
                  <th>Codigo</th>
                  <th>Profesor</th>
                  <th>Acciones</th>           
                </tr>
              </thead>
              <tbody>
                <tr v-if="courses.length == 0">
                  <td colspan="5"><div class="text-center">vacío</div></td>
                </tr>
                <tr v-for="course, i in courses">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ course.fields.name }}</td>
                  <td>{{ course.fields.code }}</td>
                  <td>{{ course.fields.teacher_name  }}</td>
                  <td>
                    <button class ="btn btn-info" v-on:click="editCourse(course, i)" title="Editar"><i class="fa fa-edit"></i></button>
                    <button class ="btn btn-danger" v-on:click="deleteCourse(course.pk, i)" title="Eliminar"><i class="fa fa-trash"></i></button>
                    <button v-if="course.fields.teacher_name != '-'" class ="btn btn-success" v-on:click="showAssociateStudent(course, i)" title="Inscribir Estudiante"><i class="fa fa-plus-circle"></i></button>
                    <button v-if="course.fields.teacher_name != '-'" class ="btn btn-danger" v-on:click="showDisassociateStudent(course, i)" title="Desuscribir Estudiante"><i class="fa fa-minus-circle"></i></button>
                  </td>           
                </tr>
              </tbody>
            </table>
        </div>
        <div v-if="action == 'associate-student' || action == 'disassociate-student'">
          <h3>Alumnos<span v-if="action == 'associate-student'"> no</span> inscritos en {{ student_course['course_name'] }}</h3>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nombres</th>
                  <th>Apellidos</th>
                  <th>RUT</th>
                  <th>Acciones</th>           
                </tr>
              </thead>
              <tbody>
                <tr v-if="students.length == 0">
                  <td colspan="5"><div class="text-center">vacío</div></td>
                </tr>              
                <tr v-for="student, i in students">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ student.fields.name }}</td>
                  <td>{{ student.fields.last_name_1 }} {{ student.fields.last_name_2 }}</td>
                  <td>{{ student.fields.identity_card_number }}</td>
                  <td>
                    <button v-if="action == 'associate-student'" class ="btn btn-success" v-on:click="addStudent(student.pk, i)" title="Inscribir"><i class="fa fa-plus-circle"></i></button>
                    <button v-if="action == 'disassociate-student'" class ="btn btn-danger" v-on:click="deleteStudent(student.pk, i)" title="Desuscribir"><i class="fa fa-trash"></i></button>

                  </td>           
                </tr>
              </tbody>
            </table>
            <button v-on:click="toggleAction('list')" type="button" class="btn btn-secondary">Volver <i class="fa fa-chevron-circle-left"></i></button>
        </div>
      </div>
    </div>


</template>

<script>
  export default {
    data() {
      return {
        teachers: [],
        courses: [],
        student_course: {'student': '','course': '', 'course_name': ''},
        action: 'list',
        course: {name: '', code: '', teacher: '0', id: '', order: ''},
        quizzes: [],
        available_quizzes: [],
        students: [],
      }
    },
    methods: {
      deleteCourse(id, i) {
        fetch("/api/course/"+id, {
          method: "DELETE"
        })
        .then(
          (req) => {
            this.courses.splice(i, 1)
          }
        )  
      },
      saveCourse() {
        let method = null;
        let url = "/api/course/";
        if(this.action == 'create') {
          method = "POST";
        }else if(this.action == 'edit') {
          method = "PUT";
          url = url + this.course.id +"/";
        } 
        fetch(url, {
          body: JSON.stringify(this.course),
          method: method,
          headers: {
            "Content-Type": "application/json",
          }
        })
        .then( response => response.json() )
        .then(
          (data) => {
              if(this.action == 'create') {
                this.courses.push(data);
              }else if(this.action == 'edit') {
                this.courses[this.course.order] = data;
              }        
              this.toggleAction('list');
            }
        )        
      },
      editCourse(course, i) {
          this.course = {
          name: course.fields.name, 
          code: course.fields.code, 
          teacher: course.fields.teacher, 
          id: course.pk,
          order: i
        }
        this.toggleAction('edit');
      },
      toggleAction(action) {
        this.action = action;
        if (action == 'create')
          this.course = {name: '', code: '', teacher: '0', id: '', order: ''};
      },
      showAssociateStudent(course, i) {
        this.student_course['course'] = course.pk
        this.student_course['course_name'] = course.fields.name+"-"+course.fields.code
        this.toggleAction('associate-student');
        this.$http.get("/api/student/?operation=course_out&course="+course.pk).then( (req) => this.students = req.data );
      },
      showDisassociateStudent(course, i) {
        this.student_course['course'] = course.pk
        this.student_course['course_name'] = course.fields.name+"-"+course.fields.code
        this.toggleAction('disassociate-student');
        this.$http.get("/api/student/?operation=course_in&course="+course.pk).then( (req) => this.students = req.data );
      },
      addStudent(student, i) {
        this.student_course['student'] = student
        fetch('/api/student_course/', {
          body: JSON.stringify(this.student_course),
          method: 'POST',
          headers: {
            "Content-Type": "application/json",
          }
        })
        .then(
          (req) => {
              if (req.status == 200) {
                this.students.splice(i, 1)
              }
            }
        )        
      },
      deleteStudent(student, i) {
        this.student_course['student'] = student
        let url = '/api/student_course/'+this.student_course['student']+'/'+this.student_course['course']
        fetch(url, {
          method: 'DELETE'
        })
        .then(
          (req) => {
              if (req.status == 200) {
                this.students.splice(i, 1)
              }
            }
        )        
      }      
    },
    mounted() {
      this.$http.get("/api/course/").then( (req) => this.courses = req.data );
      this.$http.get("/api/teacher/").then( (req) => this.teachers = req.data );
    },
  }
</script>

<style>
</style>