<template>
    <div>
      <div class="jumbotron-section">
        <div class="container">
          <h1 class="display-6">Pruebas</h1>
          <p>Crud para pruebas de la prestigiosa Tech-K University.</p>
          <button v-if="action == 'list'" v-on:click="toggleAction('create')" class="btn btn-primary btn-sm d-inline-block"role="button">Crear Prueba <i class="fa fa-plus"></i></button>
          <a class="btn btn-secondary btn-sm d-inline-block" href="/" role="button">Volver Home &raquo;</a>
        </div>
      </div>

      <div class="container">
        <div v-if="action == 'create' || action == 'edit'">
          <form v-on:submit.prevent="saveQuiz()">
            <div class="form-group">
              <label for="quiz-name">Nombre</label>
              <input type="text" class="form-control" id="quiz-name" placeholder="Nombre de la Prueba" v-model="quiz.name" required>
              <!-- <label for="quiz-max-score">Máxima calificación</label>
              <input type="number" class="form-control" id="quiz-max-score" placeholder="Máxima calificación permitida" v-model="quiz.max_score" required>
              <label for="quiz-approve_score">Calificación aprobatoria</label>
              <input type="number" class="form-control" id="quiz-approve_score" placeholder="Calificación minima paraa aprobar la prueba" v-model="quiz.approve_score" required> -->
              <label for="quiz-course">Curso</label>
              <select class="form-control" id="quiz-course" v-model="quiz.course" required>
                <option value="">Seleccione</option>
                <option v-for="course, i in courses" :value="course.pk">{{ course.fields.name }}-{{ course.fields.code }}</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Guardar <i class="fa fa-save"></i></button>
            <button v-on:click="toggleAction('list')" type="button" class="btn btn-secondary">Cancelar <i class="fa fa-ban"></i></button>
          </form>
        </div>
        <div id="quizzes-list" v-if="action == 'list'">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nombre</th>
                  <th>Máxima calificación</th>
                  <th>Calificación de Aprobación</th>
                  <th>Curso</th>
                  <th>Acciones</th>           
                </tr>
              </thead>
              <tbody>
                <tr v-if="quizzes.length == 0">
                  <td colspan="6"><div class="text-center">vacío</div></td>
                </tr>              
                <tr v-for="quiz, i in quizzes">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ quiz.fields.name }}</td>
                  <td>{{ quiz.fields.max_score }}</td>
                  <td>{{ quiz.fields.approve_score }}</td>
                  <td>{{ quiz.fields.course_name }}</td>
                  <td>
                    <button class ="btn btn-info" v-on:click="editQuiz(quiz, i)" title="Editar"><i class="fa fa-edit"></i></button>
                    <button class ="btn btn-danger" v-on:click="deleteQuiz(quiz.pk, i)" title="Eliminar"><i class="fa fa-trash"></i></button>
                  </td>           
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>


</template>

<script>
  export default {
    data() {
      return {
        quizzes: [],
        action: 'list',
        quiz: {name: '', max_score: 10, approve_score: 5, course: '', id: '', order: ''},
        courses: []
      }
    },
    methods: {
      deleteQuiz(id, i) {
        fetch("/api/quiz/"+id, {
          method: "DELETE"
        })
        .then(
          (req) => {
            this.quizzes.splice(i, 1)
          }
        )  
      },
      saveQuiz() {
        let method = null;
        let url = "/api/quiz/";
        if(this.action == 'create') {
          method = "POST";
        }else if(this.action == 'edit') {
          method = "PUT";
          url = url + this.quiz.id +"/";
        }
        if (parseInt(this.quiz.approve_score, 10) > parseInt(this.quiz.max_score, 10)){
          alert("El monto aprobatorio debe ser menor o igual a la calificación máxima permitida.");
        }else {
          fetch(url, {
            body: JSON.stringify(this.quiz),
            method: method,
            headers: {
              "Content-Type": "application/json",
            }
          })
          .then( response => response.json() )
          .then(
            (data) => {
                if(this.action == 'create') {
                  this.quizzes.push(data);
                }else if(this.action == 'edit') {
                  this.quizzes[this.quiz.order] = data;
                }        
                this.toggleAction('list');
              }
          )
        }
      },
      editQuiz(quiz, i) {
        this.quiz = {
          name: quiz.fields.name, 
          max_score: quiz.fields.max_score, 
          approve_score: quiz.fields.approve_score,
          course: quiz.fields.course,
          id: quiz.pk,
          order: i
        }
        this.toggleAction('edit');
      },
      toggleAction(action) {
        this.action = action;
        if (action == 'create')
          this.quiz = {name: '', max_score: 10, approve_score: 5, course: '', id: '', order: ''}
      }
    },
    mounted() {
      this.$http.get("/api/quiz/").then( (req) => this.quizzes = req.data )
      this.$http.get("/api/course/").then( (req) => this.courses = req.data );
    },
  }
</script>

<style>
</style>