<template>
    <div>
      <div class="jumbotron-section">
        <div class="container">
          <h1 class="display-6">Notas</h1>
          <p>Crud para notas de la prestigiosa Tech-K University.</p>
          <button v-if="action == 'list'" v-on:click="toggleAction('create')" class="btn btn-primary btn-sm d-inline-block"role="button">Registrar Nota <i class="fa fa-plus"></i></button>
          <a class="btn btn-secondary btn-sm d-inline-block" href="/" role="button">Volver Home &raquo;</a>
        </div>
      </div>

      <div class="container">
        <div v-if="action == 'create' || action == 'edit'">
          <form v-on:submit.prevent="saveScore()">
            <div v-if="action == 'create'" class="form-group">
              <label for="score-course">Curso</label>
              <select v-on:change="courseChange()" class="form-control" id="score-course" v-model="score.course" required>
                <option value="0">Seleccione</option>
                <option v-for="course, i in courses" :value="course.pk">{{ course.fields.name }}-{{ course.fields.code }}</option>
              </select>

              <label for="score-student">Alumno</label>
              <select v-on:change="studentChange()" class="form-control" id="score-student" v-model="score.student" required>
                <option value="0">Seleccione</option>
                <option v-for="student, i in students" :value="student.pk">{{ student.fields.name }} {{ student.fields.last_name_1 }}</option>
              </select>

              <label for="score-quiz">Prueba</label>
              <select class="form-control" id="score-quiz" v-model="score.quiz" required>
                <option value="0">Seleccione</option>
                <option v-for="quiz, i in quizzes" :value="quiz.pk">{{ quiz.fields.name }}</option>
              </select>
            </div>
            <div v-if="action == 'edit'" class="form-group">
              <h3>Curso: {{score['course_name']}} / Prueba: {{score['quiz_name']}} / Alumno: {{score['student_name']}}</h3>
            </div>
            <div class="form-group">
              <label for="score-number">Nota</label>
              <input type="number" class="form-control" id="score-number" placeholder="Nota conseguida por el estudiante para esta prueba" v-model="score.number" required>
            </div>
            <button type="submit" class="btn btn-primary">Guardar <i class="fa fa-save"></i></button>
            <button v-on:click="toggleAction('list')" type="button" class="btn btn-secondary">Cancelar <i class="fa fa-ban"></i></button>
          </form>
        </div>
        <div id="scores-list" v-if="action == 'list'">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Curso</th>
                  <th>Estudiante</th>
                  <th>Prueba</th>
                  <th>Nota</th>
                  <th>Acciones</th>           
                </tr>
              </thead>
              <tbody>
                <tr v-if="scores.length == 0">
                  <td colspan="6"><div class="text-center">vacío</div></td>
                </tr>               
                <tr v-for="score, i in scores">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ score.fields.course_name }}</td>
                  <td>{{ score.fields.student_name }}</td>
                  <td>{{ score.fields.quiz_name }}</td>
                  <td>{{ score.fields.score }}</td>
                  <td>
                    <button class ="btn btn-info" v-on:click="editScore(score, i)" title="Editar"><i class="fa fa-edit"></i></button>
                    <button class ="btn btn-danger" v-on:click="deleteScore(score.pk, i)" title="Eliminar"><i class="fa fa-trash"></i></button>
                  </td>           
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>


</template>

<script>
  export default {
    data() {
      return {
        courses: [],
        quizzes: [],
        students: [],
        scores: [],
        action: 'list',
        score: {course: 0, course_name: '', student_name: '', student: 0, quiz_name: '', quiz: 0, number: '', id: '', order: ''}
      }
    },
    methods: {
      deleteScore(id, i) {
        fetch("/api/score/"+id, {
          method: "DELETE"
        })
        .then(
          (req) => {
            this.scores.splice(i, 1)
          }
        )  
      },
      saveScore() {
        if(this.score.course != 0 && this.score.student != 0 && this.score.quiz != 0) {
          let method = null;
          let url = "/api/score/";
          if(this.action == 'create') {
            method = "POST";
          }else if(this.action == 'edit') {
            method = "PUT";
            url = url + this.score.id +"/";
          } 
          fetch(url, {
            body: JSON.stringify(this.score),
            method: method,
            headers: {
              "Content-Type": "application/json",
            }
          })
          .then( response => response.json() )
          .then(
            (data) => {
                if(this.action == 'create') {
                  this.scores.push(data);
                }else if(this.action == 'edit') {
                  this.scores[this.score.order] = data;
                }        
                this.toggleAction('list');
              }
          )
        }else {
          alert("Seleccione las opciones indicadas.")
        }
      },
      editScore(score, i) {
        this.score = {
          number: score.fields.score,
          course: score.fields.course,
          student: score.fields.student,
          quiz: score.fields.quiz,
          course_name: score.fields.course_name,
          student_name: score.fields.student_name,
          quiz_name: score.fields.quiz_name,
          id: score.pk,
          order: i
        }
        this.toggleAction('edit');
      },
      toggleAction(action) {
        this.action = action;
        if (action == 'create')
          this.score = {course: 0, course_name: '', student_name: '', student: 0, quiz_name: '', quiz: 0, number: '', id: '', order: ''}
      },
      courseChange(){
        this.$http.get("/api/student/?operation=course_in&course="+this.score['course']).then( (req) => this.students = req.data );
      },
      studentChange() {
        this.$http.get("/api/quiz/?operation=course_in_student_out&course="+this.score['course']+"&student="+this.score['student']).then( (req) => this.quizzes = req.data );
      }
    },
    mounted() {
      this.$http.get("/api/score/").then( (req) => this.scores = req.data );
      this.$http.get("/api/course/").then( (req) => this.courses = req.data );
    },
  }
</script>

<style>
</style>