<template>
  <div>
    <div class="jumbotron-section">
      <div class="container">
        <h1 class="display-6">Estudiantes</h1>
        <p>Crud para estudiantes de la prestigiosa Tech-K University.</p>
        <button v-if="action == 'list' || action == 'list-avg' || action == 'list-reproved'" v-on:click="toggleAction('create')" class="btn btn-primary btn-sm d-inline-block"role="button">Crear Estudiante <i class="fa fa-plus"></i></button>
        <button v-if="action == 'list' || action == 'list-avg' || action == 'list-reproved'" v-on:click="toggleAction('list-avg')" class="btn btn-secondary btn-sm d-inline-block"role="button">Ver Promedios <i class="fa fa-certificate"></i></button>
        <button v-if="action == 'list' || action == 'list-avg' || action == 'list-reproved'" v-on:click="toggleAction('list-reproved')" class="btn btn-secondary btn-sm d-inline-block"role="button">Ver Aplazados <i class="fa fa-times"></i></button>
        <a class="btn btn-secondary btn-sm d-inline-block" href="/" role="button">Volver Home &raquo;</a>
      </div>
    </div>

    <div class="container">
      <div v-if="action == 'create' || action == 'edit'">
        <form v-on:submit.prevent="saveStudent()">
          <div class="form-group">
            <label for="student-name">Nombre</label>
            <input type="text" class="form-control" id="student-name" placeholder="Nombre del Estudiante" v-model="student.name" required>

            <label for="student-last-name-1">Primer Apellido</label>
            <input type="text" class="form-control" id="student-last-name-1" placeholder="Primer Apellido del Estudiante" v-model="student.last_name_1" required>

            <label for="student-last-name-2">Segundo Apellido</label>
            <input type="text" class="form-control" id="student-last-name-2" placeholder="Segundo Apellido del Estudiante" v-model="student.last_name_2">

            <label for="student-rut">RUT</label>
            <input type="text" class="form-control" id="student-rut" placeholder="RUT del Estudiante" v-model="student.identity_card_number" required>
          </div>
          <button type="submit" class="btn btn-primary">Guardar <i class="fa fa-save"></i></button>
          <button v-on:click="toggleAction('list')" type="button" class="btn btn-secondary">Cancelar <i class="fa fa-ban"></i></button>
        </form>
      </div>
      <div id="students-list" v-if="action == 'list' || action == 'list-avg' || action == 'list-reproved'">
          <h3 v-if="'list-avg'|| action == 'list-reproved'">Estudiantes con promedios <span v-if="action == 'list-reproved'">y cursos en rojo</span></h3>
          <table class="table table-striped">
            <thead>
              <tr v-if="action == 'list'">
                <th>#</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>RUT</th>
                <th>Acciones</th>           
              </tr>
              <tr v-else>
                <th>#</th>
                <th>Nombre</th>
                <th>RUT</th>
                <th>Promedio Global</th>
              </tr>

            </thead>
            <tbody v-if="action == 'list'">
              <tr v-if="students.length == 0">
                <td colspan="5"><div class="text-center">vacío</div></td>
              </tr>              
              <tr v-for="student, i in students">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ student.fields.name }}</td>
                <td>{{ student.fields.last_name_1 }} {{ student.fields.last_name_2 }}</td>
                <td>{{ student.fields.identity_card_number }}</td>
                <td>
                  <button class ="btn btn-info" v-on:click="editStudent(student, i)" title="Editar"><i class="fa fa-edit"></i></button>
                  <button class ="btn btn-danger" v-on:click="deleteStudent(student.pk, i)" title="Eliminar"><i class="fa fa-trash"></i></button>
                </td>           
              </tr>
            </tbody>
            <tbody v-else>
              <tr v-if="students.length == 0">
                <td colspan="4"><div class="text-center">vacío</div></td>
              </tr>              
              <tr v-for="student, i in students_avgs">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ student.fields.name }}</td>
                <td>{{ student.fields.rut }}</td>
                <td>{{ student.fields.avg }}</td>
              </tr>
            </tbody>
          </table>
          <button v-if="action == 'list-avg'|| action == 'list-reproved'" v-on:click="toggleAction('list')" type="button" class="btn btn-secondary">Volver <i class="fa fa-step-backward"></i></button>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        students_avgs: [],
        students: [],
        action: 'list',
        student: {name: '', last_name_1: '', last_name_2: '', identity_card_number: '', id: '', order: ''}
      }
    },
    methods: {
      deleteStudent(id, i) {
        fetch("/api/student/"+id, {
          method: "DELETE"
        })
        .then(
          (req) => {
            this.students.splice(i, 1)
          }
        )  
      },
      saveStudent() {
        let method = null;
        let url = "/api/student/";
        if(this.action == 'create') {
          method = "POST";
        }else if(this.action == 'edit') {
          method = "PUT";
          url = url + this.student.id +"/";
        } 
        fetch(url, {
          body: JSON.stringify(this.student),
          method: method,
          headers: {
            "Content-Type": "application/json",
          }
        })
        .then( response => response.json() )
        .then(
          (data) => {
              if(this.action == 'create') {
                this.students.push(data);
              }else if(this.action == 'edit') {
                this.students[this.student.order] = data;
              }        
              this.toggleAction('list');
            }
        )        
      },
      editStudent(student, i) {
        this.student = {
          name: student.fields.name, 
          last_name_1: student.fields.last_name_1, 
          last_name_2: student.fields.last_name_2, 
          identity_card_number: student.fields.identity_card_number,
          id: student.pk,
          order: i
        }
        this.toggleAction('edit');
      },
      toggleAction(action) {
        this.action = action;
        let url;
        if(action == 'create') {
          this.student = {name: '', last_name_1: '', last_name_2: '', identity_card_number: '', id: '', order: ''}
        }else if(action == 'list-avg') {
          url = "/api/student/avg/"
        }else if(action == 'list-reproved') {
          url = "/api/student/avg/?operation=avg_by_reproved"
        }
        if (action == 'list-reproved' || action == 'list-avg') {
          this.$http.get(url).then( (req) => this.students_avgs = req.data )
        }
      }
    },
    mounted() {
      this.$http.get("/api/student/").then( (req) => this.students = req.data )
    },
  }
</script>

<style>
</style>