<template>
    <div>
      <div class="jumbotron-section">
        <div class="container">
          <h1 class="display-6">Profesores</h1>
          <p>Crud para profesores de la prestigiosa Tech-K University.</p>
          <button v-if="action == 'list'" v-on:click="toggleAction('create')" class="btn btn-primary btn-sm d-inline-block"role="button">Crear Profesor <i class="fa fa-plus"></i></button>
          <a class="btn btn-secondary btn-sm d-inline-block" href="/" role="button">Volver Home &raquo;</a>
        </div>
      </div>

      <div class="container">
        <div v-if="action == 'create' || action == 'edit'">
          <form v-on:submit.prevent="saveTeacher()">
            <div class="form-group">
              <label for="teacher-name">Nombre</label>
              <input type="text" class="form-control" id="teacher-name" placeholder="Nombre del Profesor" v-model="teacher.name" required>

              <label for="teacher-last-name-1">Primer Apellido</label>
              <input type="text" class="form-control" id="teacher-last-name-1" placeholder="Primer Apellido del Profesor" v-model="teacher.last_name_1" required>

              <label for="teacher-last-name-2">Segundo Apellido</label>
              <input type="text" class="form-control" id="teacher-last-name-2" placeholder="Segundo Apellido del Profesor" v-model="teacher.last_name_2">
            </div>
            <button type="submit" class="btn btn-primary">Guardar <i class="fa fa-save"></i></button>
            <button v-on:click="toggleAction('list')" type="button" class="btn btn-secondary">Cancelar <i class="fa fa-ban"></i></button>
          </form>
        </div>
        <div id="teachers-list" v-if="action == 'list'">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nombres</th>
                  <th>Apellidos</th>
                  <th>Creación</th>
                  <th>Acciones</th>           
                </tr>
              </thead>
              <tbody>
                <tr v-if="teachers.length == 0">
                  <td colspan="5"><div class="text-center">vacío</div></td>
                </tr>               
                <tr v-for="teacher, i in teachers">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ teacher.fields.name }}</td>
                  <td>{{ teacher.fields.last_name_1 }} {{ teacher.fields.last_name_2 }}</td>
                  <td>{{ teacher.fields.created }}</td>
                  <td>
                    <button class ="btn btn-info" v-on:click="editTeacher(teacher, i)" title="Editar"><i class="fa fa-edit"></i></button>
                    <button class ="btn btn-danger" v-on:click="deleteTeacher(teacher.pk, i)" title="Eliminar"><i class="fa fa-trash"></i></button>
                  </td>           
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>


</template>

<script>
  export default {
    data() {
      return {
        teachers: [],
        action: 'list',
        teacher: {name: '', last_name_1: '', last_name_2: '', id: '', order: ''}
      }
    },
    methods: {
      deleteTeacher(id, i) {
        fetch("/api/teacher/"+id, {
          method: "DELETE"
        })
        .then(
          (req) => {
            this.teachers.splice(i, 1)
          }
        )  
      },
      saveTeacher() {
        let method = null;
        let url = "/api/teacher/";
        if(this.action == 'create') {
          method = "POST";
        }else if(this.action == 'edit') {
          method = "PUT";
          url = url + this.teacher.id +"/";
        } 
        fetch(url, {
          body: JSON.stringify(this.teacher),
          method: method,
          headers: {
            "Content-Type": "application/json",
          }
        })
        .then( response => response.json() )
        .then(
          (data) => {
              if(this.action == 'create') {
                this.teachers.push(data);
              }else if(this.action == 'edit') {
                this.teachers[this.teacher.order] = data;
              }        
              this.teacher = {name: '', last_name_1: '', last_name_2: '', id: '', order: ''}
              this.toggleAction('list');
            }
        )        
      },
      editTeacher(teacher, i) {
        this.teacher = {
          name: teacher.fields.name, 
          last_name_1: teacher.fields.last_name_1, 
          last_name_2: teacher.fields.last_name_2, 
          id: teacher.pk,
          order: i
        }
        this.toggleAction('edit');
      },
      toggleAction(action) {
        this.action = action;
        if (action == 'create')
          this.teacher = {name: '', last_name_1: '', last_name_2: '', id: '', order: ''}
      }
    },
    mounted() {
      this.$http.get("/api/teacher/").then( (req) => this.teachers = req.data )
    },
  }
</script>

<style>
</style>