{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>{{ view_title }} - Tech-K Test</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'university/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <!-- Custom styles for this template -->
    <link href="{% static 'university/css/jumbotron.css' %}" rel="stylesheet">
    <link href="{% static 'university/css/calendar.css' %}" rel="stylesheet">
  </head>

  <body>

  <!-- {% include "layout/header.html" %} -->
  {% block content %}{% endblock content %}
  {% include "layout/footer.html" %}

    <script src="{% static 'university/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'public/bundle.js' %}"></script>
  </body>
</html>
